<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-graphic [options]="graficos.grafico1"></app-graphic>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-graphic [options]="graficos.grafico2"></app-graphic>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-graphic [options]="graficos.grafico3"></app-graphic>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-graphic [options]="graficos.grafico4"></app-graphic>
            </div>
        </div>
    </div>
</div>